body{
    height: auto;
    width: auto;
}
.header ul{
    display: flex;
    justify-content: flex-end;
}

.header ul li {
    list-style: none;
    display: inline;
}
.header ul li a{
    text-decoration: none;
    padding: 10px;
}
ul img{
    width: 15px;
    height: 18px;
    margin-bottom: -5px;   
}
#initial{
    color: white;
    background-color: purple;
    border-radius: 50%;
    padding: 3px 5px;
    margin-left: 5px;
}

main{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    position: relative;
    padding-bottom: 160px;
    justify-content: center;
}

#google-logo{
    width: 120px;
}

.search{
    position: absolute;
    top: 108px;
    left: 12%;
}
.search input{ 
    border: 1px solid rgb(223, 217, 217);
    border-radius: 50px;
    padding: 0px 20px;
    padding-left: 25px;
    outline: white;
    height: 20px;
    margin-left: 15%;
    position: absolute;
    top: -26px;
    left: 25px;
}

.fa-search{
    position: absolute;
    top: -20px;
    left: 30px;
    z-index: 10;
    font-size: x-small;
    color: rgb(172, 167, 167);
}
.fa-microphone{
    position: absolute;
    left: 220px;
    top: -20px;
    font-size: x-small;
    color: rgb(85, 122, 231);
}
.button{
    padding-top: 15px;
    display: flex;
    margin-left: -10%;
    margin-top: 10px;
}
.button button{
    border-radius: 3px;
    outline: white;
    border: 1px solid white;
    font-size: x-small;
}

#second-button{
    margin-left: 3px;
}

footer{ 
     
    width: 100vw;
    height: 75px;
    margin-top: 135px;
    margin-left: -10px;
    background-color: rgb(238, 235, 235);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3, 25px 25px 25px);
    grid-template-areas: 
    "n n n n n n n n n n n n"
    "c c c c c c c c c c c c"
    "l l l l l l l l l l l l";
}

footer .nigeria{
    font-size: small;
    padding: 0px 20px;
    grid-area: n;
    border-bottom: 1px solid rgb(216, 213, 213);
}

.carbon-message{
    grid-area: c; 
    padding-top: 5px; 
    padding-left: 30%;
    font-size: 0.7rem; 
    
}

.listed-items{
    grid-area: l;
    display: flex;
    font-size: xx-small;
    flex-direction: row;
    margin-left: -20px;
    justify-content: space-between;
}

.second-group{
    margin-left: -30px; 
    padding-right: 10px; 
}

.listed-items ul li{
    list-style: none;
    display: inline;    
}
 .fa-envira{
     color:green;
 }

footer .listed-items ul li a{
    text-decoration: none;
    padding: 2px;
}

@media screen and (min-width:768px) {
    .search input{
        justify-self: flex-end;
        width: 380px;
        height: 27px;
        margin-left: 80px;  
    }
    #google-logo{
        width: 170px;
        margin-left: 10%;
        margin-top: -30px;
        padding: 5px;
    }
    .button{
        margin-top: 30px;
    }
    .button button{
        font-size: x-small;
        padding: 6px;
        margin-left: 15%;
    }
    #second-button{
        margin-left: 5px;
    }
    main{
        padding-bottom: 18px;
    }

    .carbon-message{
        grid-area: c;  
        padding-left: 30%;
        font-size: 0.7rem;
    }
        
    .fa-search{
        top: -19px;
        left: 110px;
    }

    .fa-microphone{
            top: -19px;
            left: 515px;
        }
    
}