.header ul{
    display: flex;
    justify-content: flex-end;
}

.header ul li {
    list-style: none;
    display: inline;
}
.header ul li a{
    text-decoration: none;
    padding: 10px;
}
ul img{
    width: 15px;
    height: 18px;
    margin-bottom: -5px;   
}
#initial{
    color: white;
    background-color: purple;
    border-radius: 50%;
    padding: 3px 5px;
    margin-left: 5px;
}

main{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    position: relative;
    padding-bottom: 180px;

}

#google-logo{
    width: 120px;
}

.search{
    position: absolute;
    top: 108px;
    left: 12%;
}
.search input{ 
    border: 1px solid rgb(223, 217, 217);
    border-radius: 50px;
    padding: 0px 20px;
    padding-left: 25px;
    outline: white;
    height: 20px;
    margin-left: 15%;
}

.fa-search{
    position: absolute;
    top: 4px;
    left: 40px;
}
.fa-microphone{
    position: absolute;
    right: -25px;
    top: 2px;
}
.button{
    padding-top: 15px;
    display: flex;
    margin-left: -1%;
}
.button button{
    border-radius: 3px;
    outline: white;
    border: 1px solid white;
    font-size: x-small;
}

#second-button{
    margin-left: 3sx;
}

footer{    
    /*font-size: small;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
    width: 100vw;
    margin-left: -10px;
    background-color: rgb(247, 242, 242);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3, 30px 30px 30px);
    grid-template-areas: 
    "n n n n n n n n n n n n"
    "c c c c c c c c c c c c"
    "l l l l l l l l l l l l";
}

footer .nigeria{
    /*width: 100%;
    height: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;*/
    grid-area: n;
    border-bottom: 1px solid gray;
    padding-left: 20px;

}

.carbon-message{
    grid-area: c; 
    padding-top: 5px; 
    padding-left: 20%;
    font-size: 0.7rem; 
}

.listed-items{
    grid-area: l;
    display: flex;
    font-size: xx-small;
    flex-direction: row;
    margin-left: -20px;
    justify-content: space-between;
}

.second-group{
    margin-left: -30px; 
    padding-right: 5px; 
}

.listed-items ul li{
    list-style: none;
    display: inline;    
}
 .fa-envira{
     color:green;
 }

footer .listed-items ul li a{
    text-decoration: none;
    padding: 2px;
}

