*{
padding: 0;
margin: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    height: 8vh;
    width: 100vw;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    font-size: x-small;
    padding: 10px;
}
nav ul li img{
    width:15px;
    height: 15px;
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: inherit;   
}
a:hover{
    text-decoration: underline;
}
li{
    list-style: none;
    margin-right: 20px;
}



main{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
}

main div.google-app img{
    width: 140px;
    height: 50px;
}
main div{
    margin: 0 auto;
}
.input{
    border: 1px solid rgb(145, 139, 139);
    width: 75vw;
    border-radius: 50px;
    height: 30px;
    outline: inherit;
    padding: 0 22px;
}
.fa-search{
    font-size: 12px;
    position: relative;
    right: -20px;
}
.fa-microphone{
    color: rgb(68, 68, 201);
    font-size: 12px;
    position: relative;
    right: 20px;
}
main div.buttons{
    margin-top: 10px;
}
main div.buttons button{
    padding: 4px;
    font-size: x-small;
}

@media screen and (min-width: 425px) {
    .input{
        width: 400px;
    }
}

footer{
    height: 22vh;
    width: 100vw;
    padding: 8px 20px 0 20px;
    background-color: rgb(235, 228, 228);
}
footer.footer-top{
    font-size: xx-small;
    border-bottom: 1px solid rgb(216, 213, 213);
    padding-bottom: 5px;

}
.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-bottom div.carbon-message{
    margin: 0 auto;
    font-size: smaller;
}

.listed-items{
    display: flex;
    flex-direction: row;
    font-size: xx-small;
    justify-content: space-between;
    justify-self: flex-start;
}

.listed-items .second-group{
    margin-left: auto;
    display: flex;
}

.listed-items .first-group{
    display: flex;
}

@media screen and (min-width: 758px) {
    .carbon-message{
        order: 2;  
    }
    .first-group{
        order: 1;
    }
    .second-group{
        order: 3;
    }
}